.header {
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 71px;
  height: auto;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: orange;
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: color 0.2s ease-in-out;
}

.nav a:hover {
  color: orange;
}

/* Apply Now Button */
.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  background-color: rgb(0, 107, 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 8px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
}

.button-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .button-icon {
  transform: translateX(4px);
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

@keyframes shine {
  0% {
    left: -100px;
  }
  60%, 100% {
    left: 100%;
  }
}