/* Base Section Styling */
.signin-section {
  padding: 0px 15px 44px 15px;
}

/* Container Setup */
.signin-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Left Content */
.signin-left {
  min-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-left: 30px;
}


.signin-title {
  color: #0077cc;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4px;
  margin-top: 22px;
  width: 20ch;
  text-wrap: nowrap;
  overflow: hidden;
  animation: typing 2s steps(20) infinite;
}
@keyframes typing {
  from {
    width: 0.5ch;
  }
}
.signin-subtitle {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 35px;
  text-align: center;
  margin-top: 2px;
}

/* Form Styling */
.signin-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 350px;
  width: 100%;
}

/* Label + Input Box */
label {
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 17px;
  font-size: 25px;
}

.input-box {
  position: relative;
}

.input-box input {
  width: 100%;
  padding: 10px 38px 10px 12px;
  font-size: 17px;
  background: #e0e0e0;
  border: none;
  border-radius: 6px;
}

/* Input Icon */
.input-box .icon {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 23px;
  color: gray;
}

/* Sign-up Prompt */
.signup-text {
    font-size: 23px;
    text-align: center;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 10px;
}

.signup-text a,
.signup-text a:visited,
.signup-text a:hover,
.signup-text a:active {
  color: orange;
  font-weight: bold;
  text-decoration: none;
}



/* Button Container */
.btn-div {
  text-align: center;
}

.signin-btn {
  background: orange;
  color: white;
  font-weight: bold;
  padding: 12px 30px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.signin-btn:hover {
  background: #e69500;
}

/* Right Side Image */
.signin-right {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 640px;
  min-width: 550px;
  padding-right: 30px;
}

.signin-right img {
  width: 550px;
  height: 560px;
  object-fit: cover;
  border-radius: 20px;
}
.signin-org-name{
  font-size: 30px;
  font-weight: 700;
  color: #FE9701;
}
.signin-logo{
  width: 71px;
  height: auto;
}


